.intro-header { 
  text-align: center;
  /* background: url('https://40.media.tumblr.com/1b916597d3e174399cb7adadddb66ede/tumblr_nt5uk4psl31ud7rr3o1_1280.jpg') no-repeat center center fixed; */
  /* background-size: cover; */
  background: rgb(218, 24, 24);
  background: linear-gradient(0deg, rgb(218, 24, 24) 31%, rgb(212, 209, 18) 100%);
}

.bg-overlay {
background:rgba(0,0,0, 0.3);
}

.intro-message {
  /* position: relative; */
  padding-top: 20%;
  padding-bottom: 20%;
}

/*Big header*/
.intro-message > h1 {
  text-shadow: 2px 1px 2px #000;
  font-size: 5em;
  color: rgba(255, 255, 255, 0.7);
}

/*small header*/
.intro-message > h3 {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
color: black;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

@media(max-width:767px) {
  .intro-message {
      padding-bottom: 15%;
  }

  .intro-message > h1 {
      font-size: 3em;
  }

  ul.intro-social-buttons > li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
      margin-bottom: 0;
  }

  .intro-divider {
      width: 100%;
  }
}

/*line*/
hr.intro-divider {
border: 1px outset rgba(255, 255, 255, 0.2);
box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
width: 100%;
}

/* social buttons */
.btn {
  width: 100%;
  color: #000 !important;
  border: 2px outset rgba(0, 0, 0, 0.9) !important;
  background-color: #C0C0C0 !important;
  text-shadow: 1px 1px 1px rgba(0,0,0, 20);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  letter-spacing: 2px;
  transition: 0.2s !important;
}

.btn:hover {
	color: #fff !important;
  background: rgba(0,0,0, 0.9) !important;
  transform: scale(1.1);
}